#search-form {
    text-align: center;
    
}

#search-input {
    width: 70%;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: #f9f7feda;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#button {
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    background-color: rgb(244, 114, 24);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#button:hover {
    background-color: rgb(255, 129, 41);
}


body {
    background-image: url("https://images.pexels.com/photos/163255/sunrise-sun-morgenrot-skies-163255.jpeg");
    background-size: cover;
    backdrop-filter: blur(10px);
    font-family: Arial, sans-serif;
    padding: 25px;
    margin-top: 15px;
    margin-right: 410px;
    margin-left: 410px;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#date-time {
    display: flex;
    justify-content: right;
    font-size: 18px;
    margin-top: -70px;
    font-weight: bold;
}

#city {

display: flex;
justify-content: left;
 font-size: 18px;
 padding: 50px;
 font-weight: bold;
}

#current-weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15px;
}

#icon-and-temp {
  display: flex;
  align-items: center;
}

#weather-icon-img {
  width: 150px;
  height:150px;;
}

#current-temperature {
  font-size: 80px;
  font-weight: bold;
  
}

#weather-conditions {
 padding: 30px;
 margin-top: -50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
 
}


#degrees {
vertical-align: text-top;
font-size: 55px;
}


#weather-info {
    text-align: center;
}

#humidity {
    color:#181e86;
    font-weight: 700;
}

#wind-speed {
    color: #181e86;
    font-weight: 700;
}

#divider {
  border: none;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.151);
    margin: 20px 0;
}

.forecast-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.forecast-day {
  text-align: center;
  flex: 1;
}

.forecast-icon {
  width: 50px;
  margin: 5px 0;
}

.forecast-temp {
  font-size: 14px;
  color: #555;
}

.forecast-max {
  font-weight: bold;
}


footer {
    text-align: center;
    margin-top: 30px;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #030861;
    font-weight: bold;
}